**Disclaimer:** This page is **not** a comprehensive reference of `pandas` library, it only covers a few parts of it.

In [1]:
import pandas as pd

In [2]:
s = pd.Series([11, 22, 33, 44, 55], index=pd.Index(['1', '2', '3', '4', '5'], name='day'))
s

day
1    11
2    22
3    33
4    44
5    55
dtype: int64

In [3]:
s.index

Index(['1', '2', '3', '4', '5'], dtype='object', name='day')

In [4]:
s.values

array([11, 22, 33, 44, 55])

In [5]:
df = pd.DataFrame([[1, 'Apple', 3.14], [2, 'Pear', 64]], columns=['Idx', 'Fruit', 'Value'], index=['a1', 'p1'])
df

    Idx  Fruit  Value
a1    1  Apple   3.14
p1    2   Pear  64.00

In [6]:
df.index

Index(['a1', 'p1'], dtype='object')

In [7]:
df.values

array([[1, 'Apple', 3.14],
       [2, 'Pear', 64.0]], dtype=object)